@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  text-align: center;
  background-color:#39a0ca;
}

html {
  font-size: 16px;
  font-family: 'IBM Plex Serif', serif;
}



.container-1 {
  background-color: #f95d9b;
  border: dotted;
  border-style: dashed;
  padding: 10px;
  margin-left: 75px;
  display: inline;
  border-radius: 20px;
}

.container-2 {
  background-color:#29e0a3;
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  margin-top: -15px;
  border-radius: 20px;
}

//homepage

.main-card {
  background-color:#29e0a3;
  padding: 15px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  margin-top: -10px;
  border-radius: 20px;
}

.logo {
  font-family: 'Concert One', cursive;
  font-size: 15em;
  margin-left: 20px;
  margin-bottom: 25px
}

//navbar

.nav-bar {
  text-align: center;
  font-family: 'Concert One', cursive;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  background-color: #f95d9b
}

.current-user {
  position: absolute;
  left: 425px;
  font-size: 20px;
  background-color: #f95d9b
}

//buttons

.main-card-buttons {
  background-color: #f95d9b;
  font-family: 'Concert One', cursive;
  color: black;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 8px;
}

.button {
  background-color:#39a0ca;
  font-family: 'Concert One', cursive;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 8px;
}
.button-2 {
  background-color: #f95d9b;
  font-family: 'Concert One', cursive;
  color: black;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 8px;
}

.button-back {
  font-family: 'Concert One', cursive;
  color: black;

  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 8px;
}


//login

.log-in {
  display: inline-block;
  font-family: 'Concert One', cursive;
  background-color:#39a0ca;
}

.login-title{
  font-family: 'Concert One', cursive;
  font-size: 4em;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px
}

//signup

.signup-title{
  font-family: 'Concert One', cursive;
  font-size: 4em;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: -10px
}

.sub-title {
  font-family: 'Concert One', cursive;
  font-size: 2em;
  text-decoration: underline;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 40px
}

.signup-form {
  display: inline-block;
  font-family: 'Concert One', cursive;
  border-radius: 8px;
}


//alerts

.login-failed {
  text-align: center;
  font-family: 'Concert One', cursive;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: -15px;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  background-color: #f95d9b
} 





















.signup {
  display: inline-block;
  font-family: 'Concert One', cursive;
}

.send-message {
  font-family: 'Concert One', cursive;
  background-color:#29e0a3;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px
}


.card-title {
  background-color:#29e0a3;
  font-family: 'Concert One', cursive;
  font-size: 3em;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 25px
}

.card-sub-title {
  background-color:#29e0a3;
  font-family: 'Concert One', cursive;
  font-size: 2em;
  margin-left: 20px;
  margin-bottom: 25px
}



.upload {
  padding: 0.2em;
  cursor: pointer;
}

// .player-wrapper {
//   position: relative;
//   padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
// }

.react-player {
  border-radius: 8px;
  margin-top: 10px;
  background-color:#29e0a3;
  margin-bottom: 10px;
}

.message-buttons {
  background-color:#39a0ca;
  font-family: 'Concert One', cursive;
  margin-right: 1200px;
}

.messages {
  font-family: 'Concert One', cursive;
  font-size: 30px;
  background-color:#29e0a3;
}

.chat-window { 
  box-sizing: border-box;
}